@media only screen and (max-width: 400px) {
    .login-page .login-modal {
        width: 80% !important;
    }
}

.login-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
}

.login-page .login-modal {
    width: 18rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

.login-page .login-modal .login-heading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.login-page .login-modal .input-title {
    font-size: 1.05rem;
    font-weight: 400;
}

.login-page .login-modal .login input {
    font-size: 1.05rem;
    font-weight: 300;
    width: 100%;
    padding: 0.25rem;
    margin-top: 0.2rem;
    outline: 0;
}

.login-page .login-modal .login .input-field-container {
    margin-bottom: 1rem;
}

.login-page .login-modal .login-btn {
    width: 100%;
    font-size: 1rem;
    padding: 0.25rem;
    background-color: #000;
    color: #fff;
    transition: 0.5s;
    border-radius: 10px;
    border: 0.25px solid;
    margin-bottom: 0.5rem;
}

.login-page .login-modal .login-btn:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}

.login-page .login-modal .login-btn:active {
    background-color: #000;
    color: #fff;
}

.login-page .login-modal .signup {
    border: 0;
    padding: 1rem 0 0;
    background-color: transparent;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    margin: auto;
    display: block;
}