@media only screen and (max-width: 900px) {
    .individual-user-page .profile-btn-container button {
        font-size: 1rem !important;
        margin: 0 0.25rem !important;
    }

    .individual-user-page .img-container .cover-pic-container {
        height: 200px !important;
    }

    .individual-user-page .img-container .profile-pic-container {
        width: 8rem !important;
        height: 8rem !important;
        margin-left: 0.5rem !important;
        top: 130px !important;
    }

    .individual-user-page .img-container .profile-pic-container img:hover {
        transform: scale(1) !important;
    }

    .individual-user-page .followers-btn-container button {
        margin-right: 0.5rem !important;
    }
}

@media only screen and (max-width: 450px) {
    .individual-user-page .img-container .profile-pic-container {
        width: 5.5rem !important;
        height: 5.5rem !important;
        top: 90px !important;
    }
    .individual-user-page .img-container .cover-pic-container {
        height: 125px !important;
    }
}

.individual-user-page .img-container {
    position: relative;
}

.individual-user-page .img-container .cover-pic-container {
    position: relative;
    width: 100%;
    height: 255px;
    display: flex;
    cursor: pointer;
}

.individual-user-page .img-container .profile-pic-container {
    overflow: hidden;
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 11.25rem;
    /* top: 70%; */
    margin-left: 1rem;
    border: 2px solid #fff;
    cursor: pointer;
}

.individual-user-page .img-container .profile-pic-container img {
    width: auto;
    height: 100%;
    transition: 0.5s;
}

.individual-user-page .img-container .profile-pic-container img:hover {
    transform: scale(1.05);
}

.individual-user-page .profile-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

.individual-user-page .profile-btn-container .unfollow-follow {
    font-size: 1.1rem;
    margin: 0 0.5rem;
    padding: 0.35rem;
    background-color: #000;
    color: #fff;
    transition: 0.5s;
    border-radius: 0.35rem;
    width: 8rem;
    border-width: 0.25px;
    display: flex;
    justify-content: center;
}

.individual-user-page .profile-btn-container .unfollow-follow:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

.individual-user-page .profile-btn-container .unfollow-follow:active {
    background-color: #000;
    color: #fff;
}

.individual-user-page .content {
    margin: 1rem;
}

.individual-user-page .content .name-username .user-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.individual-user-page .content .name-username .user-username {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, .7);
    font-style: italic;
    margin-bottom: 0.5rem;
}

.individual-user-page .content .user-email::before {
    content: "Email: ";
}

.individual-user-page .content .user-email {
    display: inline-block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #000;
}

.individual-user-page .content .user-bio {
    margin-bottom: 0.5rem;
}

.individual-user-page .content .link {
    color: #000;
}

.individual-user-page .followers-btn-container {
    margin: 1rem;
}

.individual-user-page .followers-btn-container button {
    margin-right: 1rem;
    font-size: 1rem;
    padding: 0.25rem 1rem;
    border-width: 0.25px;
    border-radius: 0.35rem;
    transition: 0.5s;
    background-color: black;
    color: #fff;
}

.individual-user-page .followers-btn-container button:hover {
    cursor: pointer;
    color: black;
    background-color: #fff;
}

.individual-user-page .followers-btn-container button:active {
    background-color: black;
    color: #fff;
}

.individual-user-page .post-content {
    box-shadow: inset 0 8px 5px -8px rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
}