@media only screen and (max-width: 900px) {
    .profile-page .profile-btn-container button {
        font-size: 1rem !important;
        margin: 0 0.25rem !important;
    }

    .profile-page .img-container .cover-pic-container {
        height: 200px !important;
    }

    .profile-page .img-container .profile-pic-container {
        width: 8rem !important;
        height: 8rem !important;
        margin-left: 0.5rem !important;
        top: 130px !important;
    }

    .profile-page .img-container .profile-pic-container img:hover {
        transform: scale(1) !important;
    }

    .profile-page .followers-btn-container button {
        margin-right: 0.5rem !important;
    }

    .follower-following-modal-container .modal {
        width: 70% !important;
    }

    .profile-pic-zoom-modal-container .profile-pic-zoom-modal {
        width: 10rem !important;
        height: 10rem !important;
    }
    .cover-pic-zoom-modal-container .cover-pic-zoom-modal {
        width: 100% !important;
    }
}

@media only screen and (max-width: 450px) {
    .follower-following-modal-container .modal {
        width: 100% !important;
    }
    .profile-page .img-container .profile-pic-container {
        width: 5.5rem !important;
        height: 5.5rem !important;
        top: 90px !important;
    }
    .profile-page .img-container .cover-pic-container {
        height: 125px !important;
    }
    .profile-edit-modal-container .profile-edit-modal {
        width: 100% !important;
        height: 100vh !important;
        border-radius: 0 !important;
    }
    .profile-edit-modal-container .profile-edit-modal .edit-modal-header {
        width: 100% !important;
        bottom: 0;
        justify-content: space-between;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
    .profile-edit-modal-container .profile-edit-modal .edit-user-data {
        margin-top: 0 !important;
    }
    .profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .cover-pic-container {
        height: 8rem !important;
    }
    .profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .profile-pic-container{
        top: 5rem !important;
    }
    .profile-edit-modal-container .profile-edit-modal .edit-user-data .profile-content-container {
        margin-top: 3.75rem !important;
        padding-bottom: 3.5rem !important;
    }
    .follower-following-modal-container .modal .following-or-followers .follower-div .follower-img-container {
        width: 3rem !important;
        height: 3rem !important;
    }
}

.profile-page .img-container {
    position: relative;
}

.profile-page .img-container .cover-pic-container {
    position: relative;
    width: 100%;
    height: 255px;
    display: flex;
    cursor: pointer;
    background-color: #000;
}

.profile-page .img-container .profile-pic-container {
    overflow: hidden;
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 11.25rem;
    /* top: 70%; */
    margin-left: 1rem;
    border: 2px solid #fff;
    cursor: pointer;
}

.profile-page .img-container .profile-pic-container img {
    width: auto;
    height: 100%;
    transition: 0.5s;
}

.profile-page .img-container .profile-pic-container img:hover {
    transform: scale(1.05);
}

.profile-page .profile-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

.profile-page .profile-btn-container .edit {
    font-size: 1.1rem;
    margin: 0 0.5rem;
    padding: 0.35rem;
    background-color: #000;
    color: #fff;
    transition: 0.5s;
    border-radius: 0.35rem;
    width: 8rem;
    border-width: 0.25px;
    display: flex;
    justify-content: center;
}

.profile-page .profile-btn-container .edit .text {
    margin-left: 0.25rem;
}

.profile-page .profile-btn-container .edit:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

.profile-page .profile-btn-container .edit:active {
    background-color: #000;
    color: #fff;
}

.profile-page .profile-btn-container .logout {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    background-color: transparent;
    transition: 0.5s;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 0 0.25rem;
}

.profile-page .profile-btn-container .logout:active {
    transform: scale(1);
    background-color: rgba(0, 0, 0, .3);
}

.profile-page .content {
    margin: 1rem;
}

.profile-page .content .name-username .user-name {
    font-size: 1.5rem;
    font-weight: 600;
}

.profile-page .content .name-username .user-username {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, .7);
    font-style: italic;
    margin-bottom: 0.5rem;
}

.profile-page .content .user-email::before {
    content: "Email: ";
}

.profile-page .content .user-email {
    display: inline-block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #000;
}

.profile-page .content .user-bio {
    margin-bottom: 0.5rem;
}

.profile-page .content .link {
    color: #000;
}

.profile-page .followers-btn-container {
    margin: 1rem;
}

.profile-page .followers-btn-container button {
    margin-right: 1rem;
    font-size: 1rem;
    padding: 0.25rem 1rem;
    border-width: 0.25px;
    border-radius: 0.35rem;
    transition: 0.5s;
    background-color: black;
    color: #fff;
}

.profile-page .followers-btn-container button:hover {
    cursor: pointer;
    color: black;
    background-color: #fff;
}

.profile-page .followers-btn-container button:active {
    background-color: black;
    color: #fff;
}

.profile-page .post-content {
    box-shadow: inset 0 8px 5px -8px rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
}

.profile-page .post-content .not-posted {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.follower-following-modal-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.follower-following-modal-container .modal {
    background-color: #fff;
    border-radius: 0.35rem;
    width: 30%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
}

.follower-following-modal-container .modal .close-btn {
    border: 0;
    padding: 0.5rem;
    border-radius: 100px;
    font-size: 1.15rem;
    background-color: transparent;
    cursor: pointer;
    margin: -0.5rem 0 0.5rem -0.5rem;
}

.follower-following-modal-container .modal .close-btn:active {
    background-color: rgba(0, 0, 0, 0.03);
}

.follower-following-modal-container .modal .none {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    /* width: 25rem; */
    font-size: 1.5rem;
}

.follower-following-modal-container .modal .following-or-followers {
    max-height: 28rem;
    overflow: auto;
}

.follower-following-modal-container .modal .following-or-followers::-webkit-scrollbar {
    width: 3px;
}

.follower-following-modal-container .modal .following-or-followers::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.follower-following-modal-container .modal .following-or-followers::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.follower-following-modal-container .modal .following-or-followers .follower-div {
    cursor: pointer;
}

.follower-following-modal-container .modal .following-or-followers .follower-div:not(.follower-following-modal-container .modal .following-or-followers .follower-div:last-of-type) {
    margin-bottom: 1rem;
}

.follower-following-modal-container .modal .following-or-followers .follower-div .follower-img-container {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follower-following-modal-container .modal .following-or-followers .follower-div .follower-img-container img {
    /* display: inline; */
    /* margin: 0 auto; */
    height: 100%;
    width: auto;
}

.follower-following-modal-container .modal .following-or-followers .follower-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follower-following-modal-container .modal .following-or-followers .follower-div .left-section {
    display: flex;
    align-items: center;
}

.follower-following-modal-container .modal .following-or-followers .follower-div .left-section .details {
    margin-left: 0.5rem;
}

.follower-following-modal-container .modal .following-or-followers .follower-div .left-section .details .follower-name {
    font-size: 1.25rem;
    font-weight: 500;
}

.follower-following-modal-container .modal .following-or-followers .follower-div .left-section .details .follower-username {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.8);
    font-style: italic;
}

.follower-following-modal-container .modal .following-or-followers .follower-div .unfollow {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    transition: 0.5s;
    border-radius: 0.35rem;
    background-color: #000;
    color: #fff;
    border-width: 0.25px;
}

.follower-following-modal-container .modal .following-or-followers .follower-div .unfollow:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

.follower-following-modal-container .modal .following-or-followers .follower-div .unfollow:active {
    background-color: #000;
    color: #fff;
}

.profile-pic-zoom-modal-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic-zoom-modal-container .profile-pic-zoom-modal {
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
    width: 18rem;
    height: 18rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pic-zoom-modal-container .profile-pic-zoom-modal img {
    height: 100%;
    width: auto;
}

.cover-pic-zoom-modal-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-pic-zoom-modal-container .cover-pic-zoom-modal {
    background-color: #fff;
    overflow: hidden;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    display: flex;
    align-items: center;
}

.profile-edit-modal-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.profile-edit-modal-container .profile-edit-modal {
    background-color: #fff;
    border-radius: 0.5rem;
    width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
    height: 35rem;
    overflow: auto;
    position: relative;
    border: 0;
}

.profile-edit-modal-container .profile-edit-modal::-webkit-scrollbar {
    width: 3px;
}

.profile-edit-modal-container .profile-edit-modal::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.profile-edit-modal-container .profile-edit-modal::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.profile-edit-modal-container .profile-edit-modal .edit-modal-header {
    background-color: rgba(0, 0, 0, 0.85);
    width: 30rem;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    overflow: hidden;
}

.profile-edit-modal-container .profile-edit-modal .edit-modal-header .left-section {
    display: flex;
}

.profile-edit-modal-container .profile-edit-modal .edit-modal-header .left-section .close-btn{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 1.05rem;
    margin: 0.65rem 1rem 0.5rem 0.5rem;
    transition: 0.5s;
    padding: 0.25rem;
    border-radius: 100%;
}

.profile-edit-modal-container .profile-edit-modal .edit-modal-header .left-section .close-btn:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.profile-edit-modal-container .profile-edit-modal .edit-modal-header .left-section .heading{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 1rem 0.5rem 0;
}

.profile-edit-modal-container .profile-edit-modal .edit-modal-header .save-btn-container {
    display: flex;
    align-items: center;
}

.profile-edit-modal-container .profile-edit-modal .edit-modal-header .save-btn-container .save{
    font-size: 1.15rem;
    font-weight: 400;
    border-radius: 50px;
    width: 7rem;
    padding: 0.25rem;
    transition: 0.5s;
    background-color: #000;
    color: #fff;
    border: 0;
    margin-right: 1rem;
}

.profile-edit-modal-container .profile-edit-modal .edit-modal-header .save-btn-container .save:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0.8;
}

.profile-edit-modal-container .profile-edit-modal .edit-modal-header .save-btn-container .save:active{
    background-color: #000;
    color: #fff;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data {
    margin-top: 2.97rem;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container {
    position: relative;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .cover-pic-container {
    position: relative;
    height: 10rem;
    display: flex;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .cover-pic-container .edit-user-fileinput-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .cover-pic-container .edit-user-fileinput-container .edit-user-fileinput {
    display: none;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .cover-pic-container .edit-user-fileinput-container .fileinput-label {
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    transition: 0.5s;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .cover-pic-container .edit-user-fileinput-container .fileinput-label:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .profile-pic-container{
    position: absolute;
    top: 6.5rem;
    margin-left: 1rem;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .profile-pic-container .container {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .profile-pic-container .container img {
    width: auto;
    height: 100%;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .profile-pic-container .edit-user-fileinput-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .profile-pic-container .edit-user-fileinput-container .edit-user-fileinput{
    display: none;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .profile-pic-container .edit-user-fileinput-container .fileinput-label{
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    transition: 0.5s;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .img-container .profile-pic-container .edit-user-fileinput-container .fileinput-label:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .profile-content-container {
    margin-top: 3rem;
    padding: 0.5rem 1rem 1rem;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .profile-content-container * {
    display: block;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .profile-content-container label:not(:first-of-type) {
    margin-top: 0.5rem;
}

.profile-edit-modal-container .profile-edit-modal .edit-user-data .profile-content-container input {
    width: 100%;
    font-size: 1.25rem;
    padding: 0.5rem;
    outline: 0;
    border-width: 0.15px;
    border-radius: 0.35rem;
}


