@media only screen and (max-width: 450px) {
    .bookmark-page .header {
        width: 100% !important;
    }
}

.bookmark-page .header {
    position: fixed;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 20px -10px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    top: 0;
}

.bookmark-page .header .back-btn {
    font-size: 1.5rem;
    background-color: transparent;
    border: 0;
    padding: 0 0.5rem;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-bottom: -5px;
}

.bookmark-page .header .heading {
    font-size: 1.5rem;
    font-weight: 500;
}

.bookmark-page .no-post-div {
    padding-top: 7rem;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookmark-page .no-post-div p {
    font-size: 1.5rem;
    font-weight: 500;
}

.bookmark-page .post-container{
    padding-top: 3.8rem;
}