@media only screen and (max-width: 900px) {
    .signup-page .signup-modal {
        width: 60% !important;
        margin-top: 1.5rem;
    }   
}

@media only screen and (max-width: 450px) {
    .signup-page .signup-modal {
        width: 100% !important;
        margin-top: 1.5rem;
    }   
}

.signup-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
}

.signup-page .signup-modal {
    width: 18rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

.signup-page .signup-modal .signup-heading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.signup-page .signup-modal .input-title {
    font-size: 1.05rem;
    font-weight: 400;
}
.signup-page .signup-modal .signup input {
    font-size: 1.05rem;
    font-weight: 300;
    width: 100%;
    padding: 0.25rem;
    margin-top: 0.2rem;
}
.signup-page .signup-modal .signup .input-field-container {
    margin-bottom: 0.75rem;
}

.signup-page .signup-modal .signup .input-field-container .error {
    color: rgba(200, 0, 0, 1);
    font-size: 0.75rem;
    padding: 0;
    margin-top: 0.25rem;
}

.signup-page .signup-modal .signup-btn {
    width: 100%;
    font-size: 1rem;
    padding: 0.25rem;
    background-color: #000;
    color: #fff;
    transition: 0.5s;
    border-radius: 0.25rem;
    border: 0;
    margin-bottom: 0.5rem;
}
.signup-page .signup-modal .signup-btn:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid;
}
.signup-page .signup-modal .signup-btn:active {
    background-color: #000;
    color: #fff;
}