@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: white;
    background: #212A3E;
}

body {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.page {
  margin: 0 25%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px;
  min-height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
}

button:active {
    transform: scale(0.9);
}

.mockman-container {
    position: relative;
    z-index: 3;
    width: 100%;
}

@media only screen and (max-width: 450px) {
    .page {
        margin: 0 !important;
        min-height: 100vh;
        width: 100vw;
        padding-bottom: 3rem;
      }
}

@media only screen and (max-width: 900px) {
    .page {
        margin: 0 35% 0 15%;
    }
}